#root {
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.no-select {
  user-select: none;
}


/* Honeycomb skills stuff */
:root {
  --color-2: #2a1d4c; /* Darker purple for hexagon background */
  --color-3: #915eff; /* Lighter purple for glow effect */
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
}

.container {
  width: calc(100% - 20px);
  max-width: 1200px; /* Slightly larger width */
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.honeycomb-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.honeycomb-row {
  display: flex;
  filter: drop-shadow(0px 0px 3px var(--color-3));
}

.honeycomb-row.staggered-row {
  margin-left: 0; /* Ensure a stagger effect */
}

.honeycomb-row .hexagon {
  position: relative;
  width: 130px; /* Smaller hexagon size for better layout */
  height: 150px;
  margin: -10px 7.5px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.s;
  z-index: 1;
}

.honeycomb-row .hexagon img {
  width: 80px; /* Smaller and consistent image size */
  height: 100px;
  background-color: transparent; /* Transparent to blend with hexagon background */
  padding: 0; /* Remove padding */
}

.honeycomb-row .hexagon:hover {
  transform: scale(1.05); /* Slight zoom on hover for effect */
  z-index: 2;
}

.category-title {
  font-family: var(--script-font);
  font-size: 26px;
  background: linear-gradient(90deg, #915EFF, #00BFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: left; /* Align to the left for <open> tags */
  padding: 20px 0 5px 10px;
}

.category-title.bottom {
  text-align: right; /* Align to the right for </close> tags */
  padding: 5px 10px 20px 0;
}

@media (max-width: 600px) {
  .honeycomb-row .hexagon {
    width: 100px;
    height: 115px;
    margin: -8px 5px;
  }

  .honeycomb-row .hexagon img {
    width: 60px;
    height: 75px;
  }

  /* Remove stagger effect for smaller screens */
  .honeycomb-row.staggered-row {
    margin-left: 0px;
  }

  .category-title {
    font-size: 20px; /* Adjust for mobile */
    padding: 15px 0 5px 10px;
  }
}
